<!-- Instructions page: This page includes information about the frontend template -->

{% extends "masterPage.html" %}

{% block content %}
<div class="row">

        <!-- Middle Rail -->
        <div class="col-9 col-xl-7 col-md-7">
            <div class="section" >
                <div class="panel panel--loose panel--raised base-margin-bottom">
                    <h2 class="subtitle">ACI Webex BOT</h2>

                    
                </div>
            </div>
        </div>


</div>
{%  endblock %}